.addPostPage {
  width: 80%;
  margin: 30px auto;
}

.title {
  padding-bottom: 20px;
  border-bottom: 2px solid;
  border-color: rgb(10, 51, 5, 0.8);
}

.postContainer {
  margin: 30px auto;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(10, 51, 5, 0.8);
  overflow: hidden;
}

.buttonContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button {
  width: 33.33%;
  border: none;
  background-color: white;
  border: solid;
  border-color: rgb(0, 128, 0, 0.3);
  border-width: 0 1px 1px 1px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.button:focus {
  outline: 0;
}

.active {
  border-bottom: 3px solid;
  border-color: rgb(10, 51, 5, 0.8);
}

.button * {
  margin: 10px;
  font-size: 1.5rem;
  color: rgb(10, 51, 5, 0.8);
}

#savePostButton {
  background-color: rgb(10, 51, 5, 0.8);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  color: white;
  height: 30px;
  width: 14%;
  min-width: 80px;
  margin: 5px;
  cursor: pointer;
  float: right;
}

#cancelPostButton {
  background-color: white;
  border-color: green;
  border-radius: 10px;
  font-weight: 700;
  color: rgb(10, 51, 5, 0.8);
  height: 30px;
  width: 14%;
  min-width: 80px;
  margin: 5px;
  cursor: pointer;
  float: right;
}

.postButton:focus {
  outline: none;
}

#postTitleInput {
  display: block;
  width: 99%;
  height: 30px;
  margin: 10px auto;
  padding-left: 15px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid;
  overflow: hidden;
  border-color: rgb(10, 51, 5, 0.8);
}

#postTitleInput:focus {
  outline: 0;
}
